<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

  <session-factory>
    <!-- Properties defined here are shared between test and production 
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>-->
    
    <!-- This is a tweaked version of Hibernate's DriverManagerConnectionProvider which works with Mule's hot deployment -->
     <property name="hibernate.connection.provider_class">org.hibernate.connection.SimpleConnectionProvider</property>

     <!-- This property improves thread contention with Mule services a bit -->
     <property name="hibernate.transaction.flush_before_completion">true</property>
     <!--
     <property name="hibernate.cache.use_second_level_cache">false</property>
    -->
    
    <mapping resource="hibernate/Menu.hbm.xml" />
	<mapping resource="hibernate/Menugroup.hbm.xml" />
	<mapping resource="hibernate/Menugroup2menu.hbm.xml" />
	<mapping resource="hibernate/User.hbm.xml" />
	<mapping resource="hibernate/User2menugroup.hbm.xml" />
    
 
 
  </session-factory>

</hibernate-configuration>
